@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #8d15fb;
    --secondary-color: #979797;
    --primary-color-hover: #5b0ea1;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 10px;
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition-duration: 0.4s;
}
.button-secondary {
    background-color: white;
    color: black;
    border: 1px solid var(--secondary-color);
}
.button:hover {
    background-color: var(--primary-color-hover);
}
.button-secondary:hover {
    background-color: var(--secondary-color);
}

/* MAIN */
.main > div {
    float: left;
}
h1 {
    font-size: 4rem;
    margin: 15px 0;
    font-weight: 900;
}
h2 {
    font-size: 2.7rem;
    margin: 15px 0;
    font-weight: 900;
}
p {
    font-size: 1.2rem;
    color: #555555;
}

/* SECTION */
.section {
    margin-top: 50px;
}
.section > div {
    float: left;
}

/* HEADER */
.logo {
	width: 55px;
	height: 55px;
}

.nav > div {
	float: left;
}

.nav ul {
	display: flex;
	list-style-type: none;
	padding-left: 0px;
    margin-left: 20px;
	gap: 10px;
}

/* links */
.nav li a {
	text-decoration: none;
	color: black;
}
.nav li a:hover {
	text-decoration: underline;
}

.welcome_image {
	margin-left: 300px;
	width: 400px;
	height: 350px;
}

.sponsors {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.google {
	width: 150px;
	height: 100px;
}


.github {
	width: 250px;
	height: 100px;
}

.kupcio {
	width: 230px;
	height: 100px;
}

.uber {
	width: 105px;
	height: 40px;
}

.spotify {
	width: 210px;
	height: 60px;
}

.microsoft {
	clear: both;
	width: 220px;
	height: 50px;
}

